{% extends 'login/login_base.html' %}
{% block contents %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

    .login {
    font-family: 'Noto Sans KR', sans-serif;
    display: grid;
    grid-template-rows:1fr 1fr
    gap: 10px;
    place-items: center;
    }

    button {
    width: 500px;
    height: 50px;
    margin: 0px 10px;
    color: #fff;
    background: #166caa;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 100px;
    }
    .int-area {
        width: 400px;
        position: relative;
        margin-top: 20px;
    }
    .t {
    text-align: center;
    }
    label {
    margin-left: 150px;
    }

</style>
<br>
<br>
<br>
<br>
<div class="t">
<h1>로그인</h1>
</div>
<div class="login">
    <form action="" method="POST">
        {% csrf_token %}
        {% for form in forms%}
        <div class="int-area">
            <label for="{{form.id_for_label}}">{{form.label}}</label>
            {{form}}
        </div>
        {% endfor %}

    {% if error %}
    {{error}}
    {% endif %}
    <button type="submit" name="login-submit" value="login">로그인</button>
</form>
</div>
{% endblock contents %}