{% extends 'ticketing/ticketing_base.html' %}
{% block message %}
<style>
    h1 {
    text-align: center;
    margin-top:0px;
    }
</style>
<h1>영화를 선택하세요</h1><br>
{% endblock %}
{% block contents %}
    <style>
    .mt{
    font-size:20px;
    text-align:center;
    place-items:center;
    font-family: 'Do Hyeon', sans-serif;
    margin:10px;
    color: black;
    }
    </style>
    <div id="movies">
    {% for movie in movie_list %}
        <a href="{% url 'ticketing:area' movie.id %}">
            <div id="m">
                <div style="float: left">
                    <img src={{"../../../"|add:movie.age_url}}  border="0" width="30" height="30">
                </div>
                <div class="mt">
                   {{movie.title}}
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}